:root{
    --color2: #000;
    --color3: #aaffb1;
    /* colores segundarios  */
    --colorS1: #fff5;
    --colorS2: #000;

    --letra1:30px;
    --letra2:24px;
    --letra3:12px;
}
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100vh;
    font-family: Arial, sans-serif;
}
/* cabecera  */
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-inline: 20px;
    height: 50px;
}

.header_nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav_link {
    border-radius: 15px;
    padding: 5px;
    text-decoration: none;
    font-size: 18px ;
}
.nav_perfil{
    background-color: blueviolet;
    border-radius: 100%;
    font-size: 20px;
    height: 30px;
    width: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_link:hover{
    background-color: #3335;
    text-decoration: underline;

}

.nav_perfil--activate{
    height: 30px;
    width: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 100%;
}
.nav_perfil--activate:hover{
    background-color: #3335;
}
.title {
    color: #ff1111;
    padding: 5px 50px;
    margin-bottom:50px ;
    border-bottom: #000 solid 1px;
}





/* main */

.form{
    height:94%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
   
}
.form_image{
    background-color: var(--colorS2);
    border-radius: 20px;
    padding: 20px;
    margin-block: 40px 10px;
    height: 200px;
    width: 500px;
    object-fit: cover;
    
}
.form_image_content{
    position: relative;
}
.form_title{
    position: absolute;
    font-size: var(--letra2);
    bottom: 0;
    right: 0;
    margin-right: 15px;
    text-transform: uppercase;
    color: #fff;
}

.form_input{
    border-radius: 15px;
    height: 35px;
    width: 600px;
    margin-block: 10px 10px;
    padding-inline-start:10px ;
}

.form_submit{
    border-radius: 5px;    
}

/* enlaces direectos  */

.enlaces_directos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}
.enlaces_directos:hover{
    background-color: #3335;
    text-decoration: underline;
}