:root {
    --color1: #000;
    --color2: #fff;
    --color3: #ff1111;
    --color4: #44f;

    /* Colores secundarios */
    --Scolor1: #fff5;
    --Scolor2: #0005;

    --letra1: 30px;
    --letra2: 24px;
    --letra3: 12px;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: var(--color2);
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 20px;
    height: 50px;
}

.header_nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav_link {
    border-radius: 15px;
    padding: 5px;
    text-decoration: none;
    font-size: 18px ;
}
.nav_perfil{
    background-color: blueviolet;
    border-radius: 100%;
    font-size: 20px;
    height: 30px;
    width: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_link:hover{
    background-color: #3335;
    text-decoration: underline;

}

.nav_perfil--activate{
    height: 30px;
    width: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 100%;
}
.nav_perfil--activate:hover{
    background-color: #3335;
}
.title {
    color: #ff1111;
    padding: 5px 50px;
    margin-bottom:50px ;
    border-bottom: #000 solid 1px;
}




/* Formularios */
.content_form{
    border-bottom: #000 solid 1px ;
}

.form {
    padding: 10px 0;
    margin-left: 50px;
    display: flex;
    width: 950px;
}

.form_text {
    width: 200px;
}

.form_text,
.form_input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

h3 {
    padding-top: 30px;
    padding-left: 50px;
}

.input,
.form__select {
    width: 400px;
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
}


.boton_enviar {
    width: 650px;
    display: flex;
    justify-content: flex-end;
}

.boton_enviar>input {
    margin: 20px;
    border-radius: 3px;
    padding: 10px;
    background-color: var(--color4);
    cursor: pointer;
}
.boton_enviar>input:hover{
    background-color: #44fd;
}