:root {
    --color1: #000;
    --color2: #fff;
    --color3: #ff1111;
    --color4: #44f;
    
    /* Colores opacados */
    --opac-color1: #0005;
    --opac-color2: #fff5;
    --opac-color3: #f115;
    --opac-color4: #44f5;

    --letra1: 30px;
    --letra2: 24px;
    --letra3: 12px;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: var(--color2);
    font-family: Arial, sans-serif;
}

.header__nav, .header__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-inline: 10px;
}

.header__nav-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.header__nav-link {
    font-size: 16px;
    text-decoration: none;
    position: relative;
    color: var(--color1);
    border-radius: 5px 5px 0 0;
}

.header__nav-link::after {
    content: "";
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 2px; 
    background-color: var(--color1);
}

.header__nav-link:hover {
    background-color: var(--opac-color1);
}

.header__profile {
    height: 30px;
    width: 30px;
    background-color: #44f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 100%;
    font-size: 20px;
}

.header__menu-img {
    height: 25px;
}
/* logo de google  */
.main-content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 200px;
}

.main-content__logo {
    width: 400px;
    box-sizing: border-box;
}
/* barra de busqueda  */
.search-form__input-main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.search-form__input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: #000 1px solid;
    border-radius: 10px;
    padding-inline: 5px;
    gap: 5px;
}

.search-form__input {
    border: none;
    outline: none;
    height: 35px;
    width: 500px;
}

.search-form__icon {
    height: 25px;
}

.search-form__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.search-form__button {
    width: 120px;
    height: 30px;
    text-align: center;
}

@media (max-width: 768px) {
    .header__nav, .header__menu {
        justify-content: space-between;
    }

    .header__profile {
        height: 25px;
        width: 25px;
    }

    .main-content__logo {
        width: 300px;
    }

    .search-form__input {
        height: 30px;
        width: 300px;
    }
}
